war/examplexmppsession
war/EmiteFunctionalTests/
war/ExampleEcho/
war/ExampleIMChat/
war/ExampleXmppSession/
war/PingPongExample/
war/PingPongChatExample/
extras
.svn
**/.svn
war/WEB-INF/classes
war/com.*/*
war/emite.*/*



