<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>Proxy</servlet-name>
		<servlet-class>de.spieleck.servlets.ProxyServlet
    </servlet-class>
		<init-param>
			<param-name>remotePath</param-name>
			<param-value>/http-bind/</param-value>
		</init-param>
		<init-param>
			<param-name>remoteServer</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>remotePort</param-name>
			<param-value>5280</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Proxy</servlet-name>
		<url-pattern>/proxy
    </url-pattern>
	</servlet-mapping>
</web-app>
